*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-color: whitesmoke;
    font-family: 'Roboto', serif;
    height: 630vh;

}
header{
    color:white;
    background-color: rgb(60, 21, 112);
    display: flex;
    justify-content: space-between;
    min-height: 15vh;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;

}
.logo{
    display: flex;
    margin-left: 10%;
    font-size: 40px;
    
}
.logo .text{
    font-size: 40px;
    font-weight: 300;
    text-shadow: 1px 1px 10px white;
    cursor: pointer;
}
.logo .icon{
    margin-right: 10px;
    text-shadow: 1px 1px 10px white;
    cursor: pointer;
}
.nav ul li a{
    position: relative;
    color: whitesmoke;
    text-decoration: none;
    margin: 10px;
    font-family: 'Acme', sans-serif;
    transition: 1s ease;

}
.nav ul li a:hover{
    animation: hover 1s infinite;
    font-size: 20px;
}
.nav ul{
    display: flex;
    list-style-type: none;
}
.nav{
    margin-right: 10%;
}
.filler{
    height: 15vh;
}
.filler2{
    height: 5vh;
}
.p{
    height: 10vh;
}
.loader{
    background-color: black; width: 0%; height: 15px;position: fixed;
    box-shadow: 2px 2px 10px rgb(37, 37, 37);
    z-index: 100;
}


.float{
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative;
    transform: translateY(90%);
   
    
    text-align: center;
    font-size: 30px;
    margin-bottom: 160vh;
    
}
hr{
    width: 70%;
    margin: auto;
}

@keyframes hover{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        
    }
    100%{
        opacity: 0;
    }
}


.about-text{
    display: flex;
    width: 70%;
    margin: auto;
}
.t, .st{
    flex: 1;
    text-align: justify;
    margin: 5%;
    height: fit-content;
    border: 1px solid black;
    padding: 5px;
    background-color: rgb(31, 31, 30);
    color: white;
    line-height: 20px;
    box-shadow: 2px 2px 10px black;
    transition: 1s ease;


    
}
.t:hover, .st:hover{
    background-color: black;
}
.interstats{
    display: flex;
}
.cases, .deaths{
    flex: 1;
    text-align: center;
}
.about-website{
    margin: auto;
    text-align: justify;
    border: 1px solid black;
    padding: 5px;
    background-color: rgb(31, 31, 30);
    color: white;
    width: 70%;
    line-height: 35px;
    box-shadow: 2px 2px 10px black;



}
.about-website:hover, .scases:hover, .sdeath:hover, .srecovered:hover{
    background-color: black;
}
.main-stat{
    width: 70%;
    margin: auto;
    display: flex;
}
.stats{
    flex: 1;
    
    color: whitesmoke;
    
    
}
.scases, .sdeath, .srecovered{
    background-color: rgb(31, 31, 30);
    margin: 1%;
    padding: 10px;
    margin-bottom: 3%;
    box-shadow: 2px 2px 10px black;
    min-height: 13vh;
    line-height: 50px;
    letter-spacing: 2px;
}
address{
    margin-left: 50px;
}
.graph{
    flex: 1;
    margin: 1%;
}
.countUp{
    display: inline;
}
#newdata{
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    padding: 16px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    
}
#getstate{
    margin-top: 25%;
}
.geo{
    width: 60%;
    margin: auto;
    margin-top: 5%;
    text-align: justify;
    
}
.getbtn{
    text-align: center;
    margin-top: 1%;
}
#getstate{
    width: 350px;
    padding: 10px;
    padding: 16px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
.state, .region{
    margin-top: 5%;
    background-color: rgb(29, 29, 31);
    color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 10px black;
    text-align: center;
    display: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
    transition: 0.5s ease;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    color: black;
  }
  td:hover{
      background-color: cyan;
      opacity: 0.5;
  }
  .overlay{
      width: 100%;
      height: 100%;
      background-color: rgb(34, 32, 32);
      display: flex;
      justify-content: center;
      align-items: center;
      color: whitesmoke;
  }


  @media only screen and (max-width: 1024px){
      .float{
          display: none;
      }
  }

  @media only screen and (max-width: 850px){
      .logo .text, .logo .icon{
          font-size: 15px;
      }
      .nav ul li a{
          font-size: 10px;
      }
      #getstate{
          width: 250px;
      }
      .about-text, .about-website{
          flex-direction: column;
          width: 90%;
      }
      .main-stat{
          flex-direction: column;
          width: 90%;
      }
      .graph #curve_chart{
          height: 100%;
      }
      .geo{width: 90%;}
      body{
          height: fit-content;
      }
       
  }
